.auth-content {

  .form {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 200px 40px 0px 40px;
    position: relative;
  }

  .error {
    padding: 5px 15px;
    border: 2px solid #ff3636;
    width: 100%;
    background-color: rgba(255, 192, 203, 0.32);
  }

  .title {
    text-align: center;
    font-weight: 500;
    font-size: 28px;
  }

  .link {
    text-align: center;
    color: darkslateblue;
  }
}

