@import "src/styles/variables";

.button {
  background-color: $primary-color;
  color: white;
  font-weight: 700;
  padding: 10px 15px;
  border-radius: 20px;
  outline: none;
  border: none;
  cursor: pointer;
  transition: .15s ease-in-out all;
  align-self: center !important;
  &:hover {
    background-color: #1592e0;
  }

  &--secondary {
    background-color: white;
    color: black;
    border: 1px solid lightgrey;
    &:hover {
      background-color: lightgrey;
    }
  }
}
