<header class="header">
  <nav class="header__links">
    <a routerLink="/" class="link" routerLinkActive="link_active" [routerLinkActiveOptions]="{ exact: true }">
      <mat-icon fontIcon="home"></mat-icon>
      Главная</a>
    <a routerLink="/profile/{{appService.user && appService.user.id}}" class="link" routerLinkActive="link_active">
      <mat-icon fontIcon="person"></mat-icon>
      Профиль</a>
    <a routerLink="/settings" class="link" routerLinkActive="link_active">
      <mat-icon fontIcon="settings"></mat-icon>
      Настройки</a>
  </nav>
  <div class="header__footer">
    <app-user-info></app-user-info>
  </div>
</header>
