@import "src/styles/variables";
.header {
  padding: 15px;
  border-left: 0.5px solid lightgray;
  height: 100vh;
  position: fixed;
  width: 250px;

  &__links {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;

    .link {
      display: flex;
      align-items: center;
      gap: 10px;
      position: relative;
      padding: 10px 15px;
      border-radius: 30px;
      transition: 0.15s;
      color: black;
      text-decoration: none;
      font-weight: 500;
      font-size: 20px;
      line-height: 30px;

      &.link_active {
        font-weight: 800;
      }

      mat-icon {
        height: 30px;
        width: 30px;
        font-size: 30px;
        transition: .2s color;
      }

      &:hover {
        background-color: rgba(grey, 0.2);
      }
    }
  }

  &__footer {
    position: absolute;
    bottom: 10px;
  }
}
