.user-info {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 30px;
  transition: 0.15s background-color;

  &__photo {
    width: 50px;
    height: 50px;
    display: block;
  }

  &__main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .user-info__name {
      font-weight: 600;
    }
    .user-info__login {
      color: gray;
    }
  }

  &:hover {
    background-color: rgba(grey, 0.2);
  }
}
