<div class="user-info">
  <img src="assets/images/not-found-user.png" alt="User photo" class="user-info__photo">
  <div class="user-info__main">
    <div class="user-info__name">
      {{user.name}}
    </div>
    <div class="user-info__login">
      @{{user.login}}
    </div>
  </div>
</div>
