@import "src/styles/variables";
.cdk-global-overlay-wrapper {
  left: 245px;
  align-items: flex-start !important;
}

.mdc-snackbar__surface {
  background-color: rgba($primary-color, 0.8) !important;
  border-radius: 15px !important;
  max-width: 250px !important;
}

