<div class="app" *ngIf="!loading" [ngClass]="{'auth': isAuthPage}">
  <div class="app__header">
    <mat-icon fontIcon="keyboard_backspace" *ngIf="showNavigateArrow" (click)="goBack()"></mat-icon>
    <span>Главная</span>
  </div>
  <div class="app__logo">
    <img src="assets/images/twitter.png" alt="Icon">
  </div>
  <app-header class="app__sidebar" *ngIf="!isAuthPage"></app-header>
  <main class="main">
    <router-outlet></router-outlet>
  </main>
</div>
<div class="app-loading" *ngIf="loading"></div>
