.app {
  width: 850px;
  margin: 0 auto;
  position: relative;

  &.auth {
    width: 450px;

    .main {
      margin-left: 0;
    }

    .app__header, .app__logo {
      display: none;
    }

    .app__logo {
      display: none;
    }
  }

  &__header {
    z-index: 1000;
    display: flex;
    align-items: center;
    line-height: 33px;
    border-bottom: .5px solid lightgrey;
    border-right: .5px solid lightgrey;
    padding: 15px;
    font-size: 25px;
    font-weight: 600;
    position: fixed;
    width: 600px;
    background-color: rgba(255, 255, 255, 0.40);
    backdrop-filter: blur(2px);
    margin-left: 250px;
    border-left: 0.5px solid lightgray;

    mat-icon {
      font-size: 33px;
      width: 33px;
      height: 33px;
      border-radius: 100%;
      cursor: pointer;
      transition: .15s;

      &:hover {
        background-color: rgba(grey, 0.2);
      }
    }

    span {
      margin-left: 15px;
    }
  }

  &__logo {
    position: fixed;
    display: flex;
    margin-bottom: 20px;
    padding: 15px 0;
    width: 250px;
    border-left: 0.5px solid lightgray;

    & > img {
      height: 25px;
      cursor: pointer;
      margin-left: 30px;
    }
  }
}

.main {
  margin-left: 250px;
  border-right: 0.5px solid lightgray;
  border-left: 0.5px solid lightgray;
  min-height: 100vh;
  position: relative;
}

.app-loading {
  background-color: white;
  background-image: url("../assets/images/twitter.png");
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-size: 200px;
  width: 100vw;
  height: 100vh;
}
