<div class="feed">
  <app-create-post (createPostEvent)="getPosts()" *ngIf="showCreatePost"></app-create-post>
  <app-post *ngFor="let post of posts"
            [post]="post"
            [showReplies]="true"
            (deletePostEvent)="getPosts()"></app-post>
  <app-empty-list listName="твитов" *ngIf="!posts || !posts.length"/>
</div>
