.user-item {
  padding: 16px;
  cursor: pointer;
  transition: .15s;

  &:hover {
    background-color: rgba(grey, 0.2);
  }

  &__header {
    display: flex;
    justify-content: space-between;

    .user-item {
      &__main {

        display: flex;
        gap: 10px;
        align-items: center;

        img {
          width: 50px;
          height: 50px;
        }
      }

      &__names {
        display: flex;
        flex-direction: column;
      }
    }
  }

  &__footer {
    margin-top: 6px;
    margin-left: 60px;
    .user-description {
      font-weight: 500;
    }
  }
}
