<div class="user-item" (click)="goToUser()">
  <div class="user-item__header">
    <div class="user-item__main">
      <app-user-photo></app-user-photo>
      <div class="user-item__names">
        <div class="user-name">{{user.name}}</div>
        <div class="user-login">@{{user.login}}</div>
      </div>
    </div>
    <div class="user-item__actions">
      <app-button-follow [compareUserId]="user.id" (clickOnFollowEvent)="clickOnFollow()"></app-button-follow>
    </div>
  </div>
  <div class="user-item__footer">
    <div class="user-description">{{user.description}}</div>
  </div>
</div>
