<div class="auth-content">
  <div class="form">
    <div class="error" *ngIf="serverError">
      {{serverError}}
    </div>
    <h1 class="title">Регистрация</h1>
    <input class="input" placeholder="Имя пользователя" [(ngModel)]="model.name"/>
    <input class="input" placeholder="Логин" [(ngModel)]="model.login"/>
    <input class="input" placeholder="Пароль" type="password" [(ngModel)]="model.password"/>
    <input class="input" placeholder="Повторите пароль" type="password" [(ngModel)]="model.repeatedPassword"/>
    <button class="button" (click)="signup()">Зарегистрироваться</button>
    <a routerLink="../login" class="link">Уже есть аккаунт? Войдите</a>
  </div>
</div>
