<div class="post-form" [ngClass]="{'isReply': postType === 'REPLY', 'isFocusOut': !isFocused && !data.text}">
  <textarea type="text" [placeholder]="textareaPlaceholder" [(ngModel)]="data.text"
            (focusin)="isFocused = true" (focusout)="isFocused = false"></textarea>
  <div class="footer">
    <button (click)="createPost()" class="button">{{ buttonPlaceholder }}</button>
  </div>
</div>
