.post-form {
  border-bottom: .5px solid lightgrey;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 10px;
  position: relative;
  transition: .2s;
  textarea {
    width: 100%;
    height: 70px;
    border: none;
    resize: none;
    padding: 15px 20px;
    font-size: 20px;

    &:focus {
      outline: none;
      border: none;
    }
  }

  .footer {
    padding: 0 10px;
    display: flex;
    justify-content: flex-end;
  }

  &.isReply {
    textarea {
      padding: 10px 20px;
    }
  }

  &.isFocusOut {
    padding-bottom: 0;
    button {
      transform: translateY(-30px);
      top: 12px;
    }
    textarea {
      height: 60px;
    }

    .footer {
      height: 0;
    }
  }
}
