@import "src/styles/variables";

.profile {
  &__wallpaper {
    height: 150px;
    background-color: #1DA1F2;
  }

  .profile__main {
    padding: 0 15px;

    .profile {
      &__header {
        padding-top: 20px;
        display: flex;
        justify-content: space-between;
        position: relative;
        height: 125px;

        .profile__photo {
          width: 200px;
          height: 200px;
          border-radius: 100%;
          transform: translateY(-100px);
          background-color: white;

          img {
            width: 100%;
            height: 100%;
            border-radius: 100%;
          }
        }
      }

      &__body {
        margin-left: 10px;

        .profile {
          &__username {
            font-weight: 800;
            font-size: 26px;
            margin-bottom: 5px;
          }

          &__login {
            font-size: 18px;
            color: gray;
            font-weight: 500;
            margin-bottom: 15px;
          }

          &__description {
            font-weight: 500;
            margin-bottom: 10px;
          }

          &__follows {
            display: flex;
            align-self: center;
            gap: 20px;

            a {
              color: gray;

              span {
                font-weight: 700;
                color: black;
              }

              &:hover {
                text-decoration: underline;
              }
            }
          }
        }
      }
    }
  }

  &__tabs {
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-bottom: 0.5px lightgrey solid;
    transition: .15s;
    cursor: pointer;
    margin-top: 20px;

    .tab {
      padding: 15px 0;
      font-weight: 600;
      text-align: center;
      width: 100%;
      position: relative;

      &.isActive {
        &:before {
          content: "";
          position: absolute;
          width: 70%;
          height: 4px;
          background-color: $primary-color;
          bottom: 0;
          left: 15%;
          border-radius: 10px;
        }
      }

      &:hover {
        background-color: $post-hover-color;
      }
    }
  }
}
