<div class="main-content">
  <div class="profile">
    <div class="profile__wallpaper"></div>
    <div class="profile__main">
      <div class="profile__header">
        <div class="profile__photo">
          <img src="assets/images/not-found-user.png" alt="User Picture">
        </div>
        <div class="profile__actions">
          <app-button-follow [compareUserId]="paramsForRequest.userId"
                             (clickOnFollowEvent)="clickOnFollow($event)"></app-button-follow>
          <button class="button button--secondary" *ngIf="isCurrentUserProfile">Редактировать профиль</button>
        </div>
      </div>
      <div class="profile__body">
        <div class="profile__username">{{user.name}}</div>
        <div class="profile__login">@{{user.login}}</div>
        <div class="profile__description">{{user.description}}</div>
        <div class="profile__follows">
          <a routerLink="followings"><span>{{user.followings && user.followings.length || 0}}</span> в читаемых</a>
          <a routerLink="followers"><span>{{user.followers && user.followers.length || 0}}</span> читателей</a>
        </div>
      </div>
    </div>
    <div class="profile__tabs">
      <div
        class="tab" [ngClass]="{'isActive': tab.isActive}"
        *ngFor="let tab of tabs"
        (click)="setTab(tab)"
      >
        {{ tab.title }}
      </div>
    </div>
    <app-feed [showCreatePost]="false" [feedType]="currentFeedType" [paramsForRequest]="paramsForRequest"></app-feed>
  </div>
</div>
