@import "src/styles/variables";

.post {
  border-bottom: .5px solid lightgray;
  padding: 8px 16px 0;
  display: flex;
  gap: 8px;
  transition: .2s background-color;
  cursor: pointer;
  position: relative;

  &:hover {
    background-color: $post-hover-color;
  }

  .user-photo {
    min-width: 50px;
    width: 50px;
    display: flex;
    cursor: pointer;

    & > img {
      width: 50px;
      height: 50px;
    }
  }

  &__main {
    .header {
      margin-bottom: 5px;

      .user-name {
        font-weight: bold;
        font-size: 14px;

        &:hover {
          text-decoration: underline;
        }
      }

      .user-login {
        &:hover {
          text-decoration: underline;
        }
      }

      .user-other {
        font-weight: 500;
        color: grey;

        &.user-date {
          font-size: 12px;
        }
      }

      .actions {
        position: absolute;
        right: 5px;
        top: 5px;
        z-index: 1000;

        .remove:hover {
          color: red;
        }
      }
    }

    .content {
      width: 100%;

      &__text {
        font-weight: 500;
        line-height: 23px;
      }
    }

    .footer {
      margin-top: 6px;
      padding-bottom: 6px;
    }
  }

  &.hasRepost {
    padding-top: 30px;
  }

  .repost-by {
    position: absolute;
    font-weight: 700;
    top: 7px;
    color: #656565;
    left: 48px;
    display: flex;
    align-items: center;
    gap: 6px;
    font-size: 12px;

    mat-icon {
      font-size: 20px;
      width: 20px;
      height: 20px;
    }
  }

  &__reply {
    margin-left: 30px;

    .post {
      border-left: 4px lightgrey solid;

      &:before {
        content: "";
        position: absolute;
        height: 4px;
        width: 10%;
        bottom: 0;
        left: 0;
        background-color: lightgrey;
      }
    }
  }
}
