<div class="post" (click)="goToDetailPost(post.id)" [ngClass]="{'hasRepost': !!post.repostedUser }">
  <div class="repost-by" *ngIf="post.repostedUser">
    <mat-icon fontIcon="repeat"></mat-icon>
    <a>{{ repostedByString }}</a>
  </div>
  <app-user-photo (click)="goToUser($event)"></app-user-photo>
  <div class="post__main">
    <div class="header">
      <span class="user-name" (click)="goToUser($event)">{{post.user.name}}</span>
      ·
      <span class="user-other user-login" (click)="goToUser($event)">@{{post.user.login}}</span>
      ·
      <span class="user-other user-date">
        {{post.createdAt}}
      </span>
      <div class="actions">
        <div class="remove" (click)="deletePost(post.id, $event)">
          <mat-icon fontIcon="clear"></mat-icon>
        </div>
      </div>
    </div>
    <div class="content">
      <div class="content__text">
        {{post.text}}
      </div>
    </div>
    <div class="footer">
      <app-post-actions [post]="post"></app-post-actions>
    </div>
  </div>
</div>
<div *ngIf="post.replies?.length && showReplies" class="post__reply">
  <app-post [post]="reply"
            *ngFor="let reply of post.replies"></app-post>
</div>
