@import "src/styles/variables";

.post-actions {
  display: flex;
  gap: 20px;
  margin-left: -6px;

  .info {
    display: flex;
    align-items: center;
    gap: 4px;
    color: gray;
    cursor: pointer;
    transition: 0.1s;
    border-radius: 10px;

    .icon {
      padding: 5px;
      border-radius: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    mat-icon {
      font-size: 19px;
      width: 19px;
      height: 19px;
      transition: 0.1s;
    }

    .count {
      font-weight: 500;
    }
  }

  .comments {
    &:hover {
      .icon {
        background-color: rgba($comment-color, 0.2);
      }

      color: $comment-color;
    }
  }

  .reposts {
    &:hover {
      .icon {
        background-color: rgba($repost-color, 0.2);
      }
    }

    &:hover, &.active {
      color: $repost-color;
    }
  }

  .likes {
    &:hover {
      .icon {
        background-color: rgba($like-color, 0.2);
      }
    }

    &:hover, &.active {
      color: $like-color;
    }
  }

}
