<div class="post-actions">
  <div class="info comments">
    <div class="icon">
      <mat-icon fontIcon="reply"></mat-icon>
    </div>
    <span class="count" *ngIf="post.replies && post.replies.length">{{post.replies.length}}</span>
  </div>
  <div class="info reposts" (click)="clickOnRepost($event)" [ngClass]="{'active': postIsReposted}">
    <div class="icon">
      <mat-icon fontIcon="repeat"></mat-icon>
    </div>
    <span class="count">{{ post.reposts && post.reposts.length ? post.reposts.length : ' ' }}</span>
  </div>
  <div class="info likes" (click)="clickOnLike($event)" [ngClass]="{'active': postIsLiked}">
    <div class="icon">
      <mat-icon [fontIcon]="postIsLiked ? 'favorite' : 'favorite_border'"></mat-icon>
    </div>
    <span class="count" *ngIf="post.likes && post.likes.length">{{post.likes.length}}</span>
  </div>
</div>
