<div class="post-detail main-content">
  <div class="post" *ngIf="!loading">
    <div class="post__header">
      <app-user-photo (click)="goToUser($event)"></app-user-photo>
      <div class="user-info__main">
        <div class="user-name" (click)="goToUser($event)">{{post.user.name}}</div>
        <div class="user-login" (click)="goToUser($event)">@{{post.user.login}}</div>
      </div>
    </div>
    <div class="post__main">
      <div class="text">
        {{post.text}}
      </div>
    </div>
    <div class="post__time-info">
      {{post.createdAt}}
    </div>
    <div class="post__footer">
      <app-post-actions [post]="post"></app-post-actions>
    </div>
  </div>
  <app-create-post [postType]="PostTypeEnum.REPLY" [post]="post" (createPostEvent)="getPostById(post.id)"></app-create-post>
  <div *ngIf="!loading">
    <app-post *ngFor="let reply of post.replies"
              [post]="reply"
              (deletePostEvent)="getPostById(post.id)"
              [showReplies]="true"
    ></app-post>
  </div>
</div>
