.post-detail {
  .post {
    padding: 8px 16px 0;
    border-bottom: 0.5px solid lightgrey;

    &__header {
      display: flex;
      align-items: center;
      gap: 10px;
      cursor: pointer;
      transition: 0.15s background-color;
      margin-bottom: 10px;

      .user-info {
        &__photo {
          width: 50px;
          height: 50px;
          display: block;
        }

        &__main {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
        }

        &:hover {
          background-color: lightgray;
        }
      }
    }

    &__main {
      font-weight: 500;
      line-height: 23px;
      margin-bottom: 15px;
    }

    &__time-info {
      display: flex;
      color: gray;
      margin-bottom: 10px;
      font-size: 12px;
      font-weight: 500;
    }

    &__footer {
      margin-top: 5px;
      display: flex;
      gap: 20px;
      border-top: 0.5px solid lightgrey;
      padding: 6px 0;
    }
  }
}
